/* breathing room in the tab panes */
.tab-content {
  padding-top: 10px;
}

/* switch squares are grey when unchecked */
.switch-input input:not(:checked)+i:before {
  background-color: #888888;
}

/* option to make switch squares back to normal */
.switch-input-flat input:not(:checked)+i:before {
  background-color: #406da4;
}

.switch-input-flat input:not(:checked)+i:after {
  color: #777;
}

/* wider switch input, adds 10px */
.switch-input-lg i {
  width: 60px;
}

.switch-input-lg input:checked+i:before {
  right: 43px;
}

/* wider-er switch input, adds 40px */
.switch-input-xl i {
  width: 90px;
}

.switch-input-xl input:checked+i:before {
  right: 73px;
}

/* this helps our radio buttons and switches space vertically */
.padded-row {
  padding-top: 10px;
  margin-bottom: 4px;
}

.colorpicker-row {
  padding-right: 15px;
}

#patch-button {
  width: 100%;
}

/* no text selection or focus highlighting */
/* make links still clickable */
:not(a):not(input):not(textarea) *,
:not(a):not(input):not(textarea)::after *,
:not(a):not(input):not(textarea)::before *{
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}
input, button, textarea, :focus {
    outline: none;
}